# {{ project.project_name }}

Generated with kraf.

## Development

```bash
make venv
make install
make run
```

## Quality

```bash
make test
make lint
make format
```
{% if project.database.value != "none" %}

## Database

```bash
make migrations
make migrate
```
{% endif %}
